[submodule "nano-PEARL"]
	path = nano-PEARL
	url = https://github.com/nctu6/nano-PEARL
[submodule "FastChat"]
	path = FastChat
	url = https://github.com/nctu6/FastChat
[submodule "mini-sglang"]
	path = mini-sglang
	url = https://github.com/sgl-project/mini-sglang.git
